# Node
node_modules
npm-debug.log
dist

# Version control
.git
.gitignore

# IDE and Editor files
.vscode
.idea
*.swp
*.swo

# Enviroment variables
.env
.env.local
.env.*

# Testing
covarage
*.test.js

# OS files
.DS_Store